<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>About Me</title>
    <head>
    <body>
    <p>I really love cycling and have extensively ridden Manhattan. I explored
    all the other boroughs too during the final Century Ride. Though I
    only completed the 55 mile route I took an unfortunate detour back into
    Brooklyn on the way back and ended up biking more than I intended. <p>
    <img src="static/century.jpeg" alt="Century">
    <p>I also did the 65 mile Velocity Ride to raise money for cancer research,
    which started in the Palisades and ended at CUMC. I also accidentally took a detour
    during that ride but found my way back and crossed back into Manhattan
    via the GW.<p>
    <p>This is my favorite part of the Manhattan Greenway which is
    near the GW. I like it because this building is weird and the area
    around it always smells like Hallmark.<p>
    <img src="static/greenway.jpeg" alt="Century">
    </body>
</html>
