<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Favorite People</title>
    <head>
    <body>
    <p>I met my friends during NSOP in 2016 and we're all graduating.
    This is a ridiculous picture of us at Senior Gala.
    Ali, Jane, Katrina, Ary, Josh, and JT (not pictured), and Daniel (rip)
    you're all amazing and I love you.<p>
    <img src="static/favoritepeople.jpeg" alt="My best friends">
    <p>Here we are at Mount Rushmore shortly before we had the most disastrous
    camping trip in history. <p> 
    <img src="static/f2.jpeg" alt="My best friends">
    </body>
</html>