<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Name: Victoria Dreyer</p>
    <img src="static/vpic.jpeg" alt="Victoria Dreyer">
    <p>Grade: Senior</p>
    <p>Major: Neuroscience, pre-medicine</p>
    <p>Favorite Websites:</p>
    <p><a href="https://www.ncbi.nlm.nih.gov/pubmed">US National Library of Medicine</a><p>
    <a href="https://www.reddit.com/r/oddlysatisfying/">r/oddlysatisfying</a>
    <p><a href="http://127.0.0.1:5000/about-me">About Me</a><p>
    
    
    </body>
</html>

